
span.job-posting-label {
  font-weight: bold;
}

div.job-posting-link {
  margin: 0.5em 0;
}

#job-posting-nodelist {
	margin-top: 1.5em;
}

/* job posting titles */
#job-posting-nodelist h2 {
  font-size: 1.5em;
}